<!doctype html>
<html lang="en-US">

<head>
    <title>Golden Ice</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" type="text/css" href="./css/app.css" media="print" onload="this.media='all'">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" defer></script>
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><h1>Golden Ice</h1></a>

        <div class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="false" style="">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./admin/index.html">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="app">
        <div v-if="weathernow.degress" style="text-align: center;">
            <h3>{{weathernow.degress}}° I dag</h3>
            <h4 v-if="weathernow.degress > weatherDisc">Ingen rabat det for varmt</h4>
            <h4 v-else>{{disc}}% Rabat pga vejret</h4>
        </div>
        <div class="crow" v-if="icecreams.length">
            <h2>{{icecreams.length}} Icecreams</h2>
            <div class="col pad" v-for="icecream in icecreams">
                <a class="card square" href="#">
                    <div class="content padx">
                        <img v-if="icecream.imgUrl" :src="icecream.imgUrl">
                        <img v-else src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/483169/cupcake@1x.png">
                        <h3>    
                            <!-- <span style="display:one;"> {{icecream.id}} </span> -->
                            <h4>{{icecream.name}} </h4>
                            <h4 class="price" v-if="weathernow.degress > weatherDisc">{{icecream.price}} kr</h4>
                            <h4 class="price" v-else>{{icecream.price * disc}} kr</h4>
                        </h3>
                        <p><b>Beskrivelse:</b> {{icecream.description}}<br><b>Størrelse:</b> {{icecream.size}}</p>
                    </div>
                </a>
            </div>
        </div>
        <span class="crow" v-else>
            <img src="https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" draggable="false">
            <h3>No icecreams</h3>
        </span>
    </div>
    <script src="./js/app.js"></script>
</body>

</html>